<p id="notice"><%= notice %></p>

<p>
  <strong>Article type:</strong>
  <%= @article.article_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @article.manufacturer %>
</p>

<p>
  <strong>Units:</strong>
  <%= @article.units %>
</p>

<p>
  <strong>Period save:</strong>
  <%= @article.period_save %>
</p>

<p>
  <strong>Technical features:</strong>
  <%= @article.technical_features %>
</p>

<p>
  <strong>Country:</strong>
  <%= @article.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @article.price_per_unit %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @article.price_per_unit %>
</p>

<p>
  <strong>Volume netto:</strong>
  <%= @article.volume_netto %>
</p>

<p>
  <strong>Volume brutto:</strong>
  <%= @article.volume_brutto %>
</p>

<p>
  <strong>Weight netto:</strong>
  <%= @article.weight_netto %>
</p>

<p>
  <strong>Weight brutto:</strong>
  <%= @article.weight_brutto %>
</p>

<p>
  <strong>Height:</strong>
  <%= @article.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @article.width %>
</p>

<p>
  <strong>Color:</strong>
  <%= @article.color %>
</p>

<p>
  <strong>Fragile:</strong>
  <%= @article.fragile %>
</p>

<p>
  <strong>Radioactive:</strong>
  <%= @article.radioactive %>
</p>

<p>
  <strong>Toxic:</strong>
  <%= @article.toxic %>
</p>

<p>
  <strong>Packing type:</strong>
  <%= @article.packing_type %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @article.transport %>
</p>

<p>
  <strong>Analogues:</strong>
  <%= @article.analogues %>
</p>

<p>
  <strong>Special features:</strong>
  <%= @article.special_features %>
</p>

<p>
  <strong>Special conditions:</strong>
  <%= @article.special_conditions %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
